.flight-delay-card {
   .mdl-card__title {
      align-items: flex-start;
   }
  .terminal-nfo {
    width: 100%;
    h4,h5 {
      margin: 0;
    }
    h4 {
      font-size: 1.5rem;
    }
    h5 {
      font-size: 1.1rem;
    }
    img {
      vertical-align: middle;
    }
  }
}
