@import "./variables.scss";
@import "../node_modules/material-design-lite/src/typography/typography";
// Components
@import "../node_modules/material-design-lite/src/button/button";
@import "../node_modules/material-design-lite/src/card/card";
@import "../node_modules/material-design-lite/src/textfield/textfield";
@import "../node_modules/material-design-lite/src/shadow/shadow";
@import "../node_modules/material-design-lite/src/grid/grid";
@import "../node_modules/material-design-lite/src/palette/palette";

.engagement-card.mdl-card {
  width: 100%;
  min-height: initial;
}
.engagement-card.mdl-card .mdl-card__supporting-text {
  padding: 0 16px 0 16px;
}
.engagement-card.mdl-card .mdl-card__title {
  h3 {
    font-size: 1.5rem;
    margin: 0;
  }
  .image {
     flex: 1;
     img {
       width: 75px;
       height: 75px;
       backgroundColor: hotpink;
       float: right;
     }
  }
}

.mdl-card.view-card {
  position: fixed;
  top: 56px;
  width: 100vw;
  height: 100vh;
  will-change: transform;
}


.cardexpand-enter {
  transform: translateY(100%);
}

.cardexpand-enter.cardexpand-enter-active {
  transform: translateY(0);
  transition: transform 300ms ease-out;
}

.cardexpand-leave {
  will-change: transform;
  transform: translateY(0);
}

.cardexpand-leave.cardexpand-leave-active {
  transform: translateY(100%);
  transition: transform 300ms ease-out;
}

.animi-card {
  top: 56px;
}

.mdl-card.notification-card {
   text-decoration: none !important;
}


.deal-card.mdl-card {
  width: 100%;
  .mdl-card__title {
    color: #fff;
    height: 176px;
    background-size: 100%;
  }
  .mdl-card__title h4{
    padding: 8px;
  }
  .price {
    font-size: 1.7rem;
  }
}


